@model WebApplicationLogin.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
               
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Account Status(przypisane role): </dt>
        <dd>
            [@using (Html.BeginForm("GetRoles", "Roles")) { }

            @if (ViewBag.RolesForThisUser != null)
            {
                <div style="background-color:yellow;">
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                        {
                            <li>@s</li>
                        }
                    </ol>
                </div>
            }
            ]
        </dd>
        <dt>Nazwisko:</dt>
        <dd>[]</dd>
        <dt>Imie:</dt>
        <dd>[]</dd>
        <dt>Email:</dt>
        <dd>[]</dd>
    </dl>
</div>
