@model WebApplicationLogin.Models.IndexViewModel
@using WebApplicationLogin.Models;
@{
    ViewBag.Title = "Manage";
}

<h2>Twój profil</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")

            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Login:</dt>
        <dd>@User.Identity.Name</dd>
        <dt>Nazwisko:</dt>
        <dd>@User.GetMySurname()</dd>
        <dt>Imie:</dt>
        <dd>@User.GetMyFullName()</dd>
        <dt>Email:</dt>
        <dd>@User.GetMyEmail()</dd>
    </dl>
</div>
