@model IEnumerable<WebApplicationLogin.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:10px; background-color:#CFE5C2">
    <h1>@Html.Label(WebApplicationLogin.Resources.HomeLang.e_Dziennik)</h1>
    <p class="lead">@Html.Label(WebApplicationLogin.Resources.HomeLang.Internetowydziennik)</p>
    <div style="float:right; margin-top:-90px">
        <img src="~/Content/hut.png" style="width:300px;height:328px;" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>@Html.Label(WebApplicationLogin.Resources.HomeLang.Nauczyciel)</h2>
        <p>
            @Html.Label(WebApplicationLogin.Resources.HomeLang.Sekcjadlanauczycieli)
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">@Html.Label(WebApplicationLogin.Resources.HomeLang.Zobacz) &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>@Html.Label(WebApplicationLogin.Resources.HomeLang.Rodzic)</h2>
        <p>@Html.Label(WebApplicationLogin.Resources.HomeLang.Sekcjadlarodziców)</p>
        <p><a class="btn btn-default" href="~/Account/Login">@Html.Label(WebApplicationLogin.Resources.HomeLang.Zobacz) &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>@Html.Label(WebApplicationLogin.Resources.HomeLang.Student)</h2>
        <p>@Html.Label(WebApplicationLogin.Resources.HomeLang.Sekcjadlauczniów)</p>
        <p><a class="btn btn-default" href="~/Account/Login">@Html.Label(WebApplicationLogin.Resources.HomeLang.Zobacz) &raquo;</a></p>
    </div>
</div>
<div>
    
        <h2>@Html.Label(WebApplicationLogin.Resources.HomeLang.Ogloszenia)</h2>
    <table class="table">
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
            </tr>
        }
        </table>
</div>
