@model WebApplicationLogin.Models.Plan

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć do listy", "Index")
</p>
