@{
    ViewBag.Title = "Create";
}


<h2>Dodawanie roli</h2>
@Html.ActionLink("Lista", "Index") | @Html.ActionLink("Zarządzanie", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <p class="control-label col-md-2">Nazwa roli</p>
                <div class="col-md-10">
                    @Html.TextBox("RoleName")
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>

}

@ViewBag.ResultMessage
