@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Lista ról</h2>

@Html.ActionLink("Dodawanie", "Create") | @Html.ActionLink("Zarządzanie", "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Na pewno chcesz usunąć?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" >Usuń</a></span> |
            @Html.ActionLink("Edytuj", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>