@{
    ViewBag.Title = "ManageUserRoles";
}


<h2>Zarządzanie rolami</h2>
@Html.ActionLink("Utwórz nową rolę", "Create")
<hr />
<div class="col-md-6">
    <h3>Role użytkownika</h3>
    @using (Html.BeginForm("GetRoles", "Roles"))
    {
        @Html.AntiForgeryToken()
        <p>
            Login : @Html.TextBox("UserName")
        </p>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zobacz" class="btn btn-default" />
            </div>

    }

    @if (ViewBag.RolesForThisUser != null)
    {
        <div>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </div>
    }
</div>
<hr />
<div class="col-md-6">
    <h2>Dodaj rolę użytkownikowi</h2>

    @using (Html.BeginForm("RoleAddToUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Login : @Html.TextBox("UserName")
            Rola: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Wybierz ...")
        </p>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodaj" class="btn btn-default" />
        </div>
    }
</div>
<hr />

<div class="col-md-6">
    <h3>Usuń rolę użytkownikowi</h3>

    @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Login : @Html.TextBox("UserName")
            Rola: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Wybierz ...")
        </p>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
    }
</div>
