<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/registercss.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eDziennik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Nowy użytkownik", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Role", "ManageUserRoles", "Roles", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Uczniowie", "Index", "Students", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    <li>@Html.ActionLink("Nauczyciele", "Index", "Teachers", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    <li>@Html.ActionLink("Przedmioty", "Index", "Subjects", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    <li>@Html.ActionLink("Oceny", "Index", "GradeLists", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    @*<li>@Html.ActionLink("Klasy", "Index", "SClassed", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    <li>@Html.ActionLink("Oceny", "Index", "Grades", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                    <li>@Html.ActionLink("Plan", "Index", "Plans", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>*@    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - eDziennik Kasia &amp; Paulina</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
