@model IEnumerable<WebApplicationLogin.Models.Grade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GradeList.Name)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Student.Name)*@
            @Html.ActionLink("Uczeń", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DateGrade)*@
            @Html.ActionLink("Data wystawienia", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradeList.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradeID })
        </td>
    </tr>
}

</table>
